@define-color foreground #f5ede8;
@define-color background #171315;
@define-color text-muted #cebeb5;
@define-color brand #b30000;
@define-color brand-strong #c9271e;
@define-color brand-deep #7a0000;

window#waybar #workspaces button.active,
window#waybar #workspaces button.focused {
  background-color: alpha(@brand, 0.26);
  color: @background;
}

#clock.time,
#custom-update,
#custom-omarchy,
#bluetooth.connected {
  color: @brand;
}

window#waybar #clock.date {
  color: @text-muted;
}
